.ubuntu-mono {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400; 
  font-style: normal;  
}

.navbar {
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    justify-content: space-between; 
    background: #cbcbeb; 
    padding: 10px 0; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 20px;   
  
    .nav-link {
      flex: 1;
      display: flex;
      justify-content: center; 
      align-items: center; 
      text-decoration: none; 
      background-color: #cbcbeb; 
      margin: 0 10px; 
      padding: 3px 0; 
      border-radius: 15px; 
      transition: background-color 0.3s, transform 0.3s; 
  
      &:hover {
        background-color: #e9e9e9; 
        transform: translateY(-2px); 
      }
  
      img {
        height: 80px; 
        width: auto; 
        margin-right: 8px; 
      }
  
      span {
        color: #333; 
        font-weight: bold; 
      }
    }
  }
  
  .App {
    background-color: #d8d8ea;  
    min-height: 100vh;  
    padding: 20px;  
    box-sizing: border-box;  
    font-family: 'Ubuntu Mono', monospace;
  }
  
  