.day-card {
    width: 180px;  
    max-width: 180px; 
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .meal-selector {
        background-color: #f9f9f9;  
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 10px 0;  
    
        select {
            width: 100%;  
            padding: 8px 10px; 
            border-radius: 5px; 
            border: 1px solid #ccc; 
            background-color: white; 
            color: #333; 
            cursor: pointer; 
    
            &:hover {
                border-color: #b0aeeb;  
            }
    
            &:focus {
                outline: none;  
                box-shadow: 0 0 0 2px rgba(176, 174, 235, 0.5);  
            }
        }
    
        button {
            margin-left: 10px;  
            padding: 5px 10px;
            background-color: #cbcbeb;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &:hover {
                background-color: #b0aeeb;  
            }
        }
    }    

    .meal-item {
        display: flex;
        align-items: center;
        justify-content: space-between;  
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            color: #8968e4;
        }

        span {  
            margin-right: 10px;  
        }

        .remove-meal-button {
            background: none;
            border: none;
            padding: 2px;
            cursor: pointer;

            img {
                height: 20px;
                width: auto;
            }

            &:hover {
                background-color: #ffb3b3;
            }
        }
    }

    .day-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            margin-right: 10px;
        }

        .add-meal-button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                height: 30px;
                width: 30px;
            }
        }

        .cancel-button {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;
            border-bottom: 1px solid #e1e1e1;

            &:last-child {
                border-bottom: none;
            }

            button {
                background-color: #cbcbeb;
                margin-right: 5px;
                padding: 5px 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #b0aeeb;
                }
            }
        }
    }
}

.weekly-meals-header {
    text-align: center; 
    color: #2d1768;  
    font-size: 50px; 
    padding: 10px 0;  
    margin-bottom: 20px;  
    margin-top: 20px;
    font-weight: 600;
}

.week-calendar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .day-card {
        flex: 1;
        margin: 0 5px;

        &:first-child, &:last-child {
            margin-left: 0;
            margin-right: 0;
        }
    }

    
    @media (max-width: 600px) {  
        flex-direction: column;
        align-items: center;  

        .day-card {
            width: 90%;  
            max-width: none;  
        }
    }
}