$font-color: #333;
$background-light: #f9f9f9;
$spacing-base: 20px;
$background-card: #cbcbeb;
$title-bg: #cbcbeb;
$steps-bg: rgb(248, 247, 240);
$font-family: 'Ubuntu Mono', monospace;
$edit-background: #cbcbeb; 

.edit-meal-details-container {
    max-width: 768px;
    margin: 40px auto;
    padding: 20px;
    background-color: #cbcbeb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Ubuntu Mono', monospace;

    .edit-header {
        text-align: center;
        background-color: #cbcbeb;
        padding: 15px;
        border-radius: 8px 8px 0 0;
        color: #190b2c;
    }

    .edit-button {
        background: transparent;
        border: none;
        cursor: pointer;
        display: block;
        margin-left: 500px;
        background: transparent;
        padding: 0px;


        &:hover {
            background: transparent;
        }
    }

    img {
        height: 40px; 
        width: auto;
    }

    h1 {
        font-size: 40px;
        margin: 0;
    }

    h2 {
        font-size: 30px;
        margin: 8;
        padding-top: 0px;
    }


    .edit-ingredients, .edit-steps, .edit-type, .edit-imgURL {
        display: flex;
        flex-direction: column;

        .edit-field {
            width: 100%;  
            margin-bottom: 10px;
        }

        select, input[type="text"], textarea {
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-family: 'Ubuntu Mono', monospace;

            &:focus {
                outline: none;
                border-color: #5a67d8;
            }
        }

        textarea {
            height: 150px;  
        }
    }


    button {
        width: 50%;
        padding: 10px 0;
        display: block;
        margin: 20px auto;
        background: transparent;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }

    
}
