// Variables
$font-color: #333;
$background-light: #f9f9f9;
$spacing-base: 20px;
$background-card: #cbcbeb;
$title-bg: #cbcbeb;
$steps-bg: rgb(248, 247, 240);
$font-family: 'Ubuntu Mono', monospace;
$edit-background: #cbcbeb; 

.edit-meal-details-container {
    max-width: 768px;
    margin: 40px auto;
    padding: $spacing-base;
    background-color: $edit-background;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: $font-family;

    .edit-header {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        background-color: $title-bg;
        padding: 15px;
        border-radius: 8px;
        color: #190b2c;
        margin-bottom: $spacing-base;

        h1 {
            font-size: 32px;
            margin: 0; 
        }

        .edit-button {
            background: none;
            border: none;
            cursor: pointer;

            img {
                height: 40px;
                width: auto;
            }

            &:hover {
                background: none;
            }
        }
    }

    select, input[type="text"], textarea {
        width: 100%; 
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #fff;

        &:focus {
            outline: none;
            border-color: #5a67d8;
        }
    }

    button {
        width: 50%;
        padding: 10px 0;
        margin: 20px auto;
        background-color: #5a67d8;
        color: white;
        border-radius: 8px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #434190;
        }
    }
}
