.header-container {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;

   
  align-items: center;  
}

.add-meal-form, .suggestions-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  font-family: 'Ubuntu Mono', monospace; 

  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;  
    font-family: 'Ubuntu Mono', monospace;  
  }

  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #cbcbeb;
    color: white;
    margin-top: 10px;
    font-family: 'Ubuntu Mono', monospace;
    cursor: pointer;

    &:hover {
      background-color: #acace2;
    }
  }

  .add-meal-icon {
    width: 50px; 
    vertical-align: middle;  
    width: auto;  
    padding: 10px;  
    border: none;
    background: none;  
    font-family: 'Ubuntu Mono', monospace;
    margin-left: 220px;

    img {
      height: 50px;
      width: auto;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.suggestions-form {
  h1 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }
  }
}


h2 {
  text-align: center; 
  color: #2d1768;  
  font-size: 50px; 
  padding: 10px 0;  
  margin-bottom: 20px;  
  margin-top: 20px;
  font-weight: 600;
}

.view-meal {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  color: #340a7c;
  font-weight: bold;
  font-size: 20px; 
  text-align: center;
  
  
  &:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
  }
}

.meal-image {
  width: 100%;   
  height: auto;  
  max-height: 200px;  
  object-fit: cover;  
  border-radius: 4px;  
  margin-bottom: 10px;  
}

.add-meal-button, .suggestions-button {
  background: none;
  border: none;
  padding: 2px; 
  cursor: pointer;

  img {
    height: 90px;  
    width: auto;
  }
}

.remove-meal-button {
  background: none;
  border: none;
  padding: 2px;  
  cursor: pointer;
  transition: background-color 0.3s;

  img {
    height: 20px;  
    width: auto;
  }

  &:hover {
    background-color: #ffb3b3;
  }
}

.meals-list {
  font-family: 'Ubuntu Mono', monospace;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.meal {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  text-align: center;

  &.editing {
    background-color: #e8e8e8;
  }

  span {
    color: #333;
    font-weight: bold;
    margin-right: 10px;
  }
}
