$font-color: #333;
$background-light: #f9f9f9;
$spacing-base: 20px;
$background-card: #fbf3e8;
$header-bg: #b7b7e3; // A soft gray background for headers
$font-family: 'Arial', sans-serif; // You can choose any font you like
$primary-color: #0c0445;  // A deep magenta for a pop of color

.meal-details-container {
    max-width: 768px;
    margin: 40px auto;
    padding: $spacing-base;
    background-color: $background-card;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: $font-family;

    .meal-header {
        text-align: center;
        background-color: $header-bg;
        padding: 15px;
        border-radius: 8px;
        color: $primary-color;
        margin-bottom: $spacing-base;

        .meal-title {
            font-size: 32px; // Larger font size for the main title
            margin-bottom: 5px;
        }

        .meal-type {
            font-size: 20px; // Slightly larger for type
            color: darken($primary-color, 10%);
            margin-bottom: $spacing-base;
        }
    }

    .recipe-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: $spacing-base;

        .ingredients, .steps {
            flex: 1;
            background-color: $background-light;
            padding: 15px;
            border-radius: 8px;
            margin: 0 10px;

            h4 {
                font-size: 24px; // Larger font size for section headers
                background-color: $header-bg; // Background color for section headers
                padding: 10px;
                border-radius: 8px;
                color: $primary-color; // Use the primary color for headers
                margin-top: 0;
                margin-bottom: 10px;
            }

            ul, ol {
                padding-left: 20px;

                li {
                    font-size: 18px; // Larger text for readability
                    margin-bottom: 5px;
                }
            }
        }
    }
}
